/* ============================================= */


/*              VARIABLES                    */


/* ============================================= */

// ---------COLORS--------------
$primary-color: #fff;
$text-color: #777;
$accent-color: #58e1c1;
$accent-color-2: #51ddfc;
$warning: #fd7856;
$error: #e4757a;
// -------MEDIA-QUERIES---------
$brk-med: '(min-width:768px)';